# Quiz - Numpy and Pandas

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/Dateset_ODI.csv')

In [6]:
df

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"
...,...,...,...,...,...,...,...
3927,ODI # 3928,India,New Zealand,New Zealand,6 wickets,Mumbai,"Oct 22, 2017"
3928,ODI # 3929,South Africa,Bangladesh,South Africa,200 runs,East London,"Oct 22, 2017"
3929,ODI # 3930,Pakistan,Sri Lanka,Pakistan,9 wickets,Sharjah,"Oct 23, 2017"
3930,ODI # 3931,India,New Zealand,India,6 wickets,Pune,"Oct 25, 2017"
3931,ODI # 3932,India,New Zealand,India,6 runs,Kanpur,"Oct 29, 2017"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 215.2+ KB

In [8]:
df.isnull().sum()

Scorecard       0
Team 1          0
Team 2          0
Winner          0
Margin        179
Ground          0
Match Date      0
dtype: int64

In [11]:
df.iloc[49]

Scorecard            ODI # 50
Team 1                England
Team 2               Pakistan
Winner                England
Margin               132 runs
Ground             Manchester
Match Date    May 24-25, 1978
Name: 49, dtype: object

In [12]:
df[df.Ground=='Devonport']

     Scorecard   Team 1       Team 2   Winner   Margin     Ground   Match Date
429  ODI # 430  England  West Indies  England  29 runs  Devonport  Feb 3, 1987

In [13]:
df[df.Winner=='Australia']

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
9,ODI # 10,New Zealand,Australia,Australia,7 wickets,Dunedin,"Mar 30, 1974"
10,ODI # 11,New Zealand,Australia,Australia,31 runs,Christchurch,"Mar 31, 1974"
20,ODI # 21,Australia,Pakistan,Australia,73 runs,Leeds,"Jun 7, 1975"
...,...,...,...,...,...,...,...
3816,ODI # 3817,Australia,Pakistan,Australia,92 runs,Brisbane,"Jan 13, 2017"
3819,ODI # 3820,Australia,Pakistan,Australia,7 wickets,Perth,"Jan 19, 2017"
3821,ODI # 3822,Australia,Pakistan,Australia,86 runs,Sydney,"Jan 22, 2017"
3825,ODI # 3826,Australia,Pakistan,Australia,57 runs,Adelaide,"Jan 26, 2017"
3916,ODI # 3917,India,Australia,Australia,21 runs,Bengaluru,"Sep 28, 2017"

In [14]:
len(df[df.Winner=='Australia'])

555

In [15]:
df['Second Team Win'] = df['Team 2']==df['Winner']
df['Second Team Win'].sum()

1637