In [1]:
# Environment preparation
import sys
!pip install expectexception

Requirement already satisfied: expectexception in c:\users\jaces\.conda\envs\mit\lib\site-packages (0.1.1)

In [2]:
# To handle exception in jupiter
import expectexception
# %%expect_exception TypeError

# Variables

In [3]:
language = 'python'
print(language*2)

pythonpython

In [4]:
str1="helloworld"

str1[:-1]

'helloworl'

In [5]:
True + False

1

In [6]:
pp = str(int(7 + 8.0))
print(pp + " happy" + "!")

15 happy!

In [7]:
%%expect_exception TypeError

Input1 = input()
Input2 = int(input())
Result = Input1 + Input2
print(Result)

12
12
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[7], line 3
      1 Input1 = input()
      2 Input2 = int(input())
----> 3 Result = Input1 + Input2
      4 print(Result)

TypeError: can only concatenate str (not "int") to str

In [8]:
%%expect_exception NameError

Input1 = input()
print(input1)

123456
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[8], line 2
      1 Input1 = input()
----> 2 print(input1)

NameError: name 'input1' is not defined

# Arithmetic Operations

In [9]:
( 14 % 2 ) * ( 9 // 4 ) + 4

4

**The PEMDAS Rule**
In Python, the calculations of mathematical operations are done using the PEMDAS rule.

P – Parentheses

E – Exponentiation

M – Multiplication

D – Division

A – Addition

S – Subtraction

In [10]:
27/2==13.5, 27%2==1, 27//2==13 # True, True, True

(True, True, True)

In [11]:
(4/2 !=2) == False # True

True

In [12]:
A,B,C,D = 21,8,20,5
( A % B ) + ( C // B ) - D

2

In [15]:
%%expect_exception ValueError
a, b, c = 1, 3

print(b)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[15], line 1
----> 1 a, b, c = 1, 3
      3 print(b)

ValueError: not enough values to unpack (expected 3, got 2)

In [16]:
i = 5
i += 5
print(i)

10

# Logical Operator

In [17]:
3%2 > 1 and 4/2 ==2 # False

False

In [18]:
5%2 > 1 or 4/2 !=2

False

# Lists

In [19]:
a = ['a', 2]
a

['a', 2]

In [20]:
D = [0 , 1 , 2 , 3 , 0 , 1 , 2 , 3 , 4]
D[D[0]]

0

In [21]:
D = [0 , 1 , 2 , 3 , 0 , 1 , 2 , 3 , 4]
print(D[0:1]+D[:2]+D[1:3]+D[2:4]+D[-5:-4])

[0, 0, 1, 1, 2, 2, 3, 0]

In [24]:
a='abcde'
print('a:', a)
b = list(a)
print('b:', b)
c = list(range(len(a)))
print('c:', c)
c.extend(b)
print('c:', c)

a: abcde
b: ['a', 'b', 'c', 'd', 'e']
c: [0, 1, 2, 3, 4]
c: [0, 1, 2, 3, 4, 'a', 'b', 'c', 'd', 'e']

In [25]:
a='abcde'
b = list(a)
c = list(range(len(a)))
c.append(b)
print(c)

[0, 1, 2, 3, 4, ['a', 'b', 'c', 'd', 'e']]

In [29]:
%%expect_exception TypeError

a = ['a','b']
b = ['c','d']
c = 'f'
d = list(c)
a+b+c

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[29], line 5
      3 c = 'f'
      4 d = list(c)
----> 5 a+b+c

TypeError: can only concatenate list (not "str") to list

# Tuples

In [30]:
#Indexing Tuples
A= (1,2,3,4,5)
A[-1]

5

In [31]:
#Indexing Tuples
X= (1,2,3,4,5)
X[X[-2]]

5

In [34]:
#Tuple methods
letters = ('a', 'b', 'c', 'd', 'e')
index = letters.index('b')
print(index)
print(letters[len(letters) - index])

1
e

In [35]:
# Tuple methods
letters = ('a', 'b', 'c', 'd', 'e')
index = letters.count('e')
print(index)
print(letters[index])

1
b

# Dictionaries

In [36]:
Dict = { 0 : [], 1 : [1], 2: [2, 2], 3: [3, 3, 3]}

print(Dict)

{0: [], 1: [1], 2: [2, 2], 3: [3, 3, 3]}

In [37]:
Dict = {'A1': 'A1','A2': 'A2','A3': {'A1': 'A1','A2': 'A2','A3': 'A3'}}
print(Dict['A2'])

A2

In [38]:
Dict = {'A1': 'A1','A2': 'A2','A3': {'A1': 'A1','A2': 'A2','A3': 'A3'}}
print(Dict['A3']['A3'])

A3

In [39]:
dict = {
 "Name": "John",
 "Sex": "Male",
 "Age": 25
}
dict["Age"] = 50
print(dict)

{'Name': 'John', 'Sex': 'Male', 'Age': 50}

In [40]:
Dict = { 1 : [1], 2: [2, 2, 2], 3: {3 :[3, 3, 3, 3]}}
Dict[3][3][3] = 2
print(Dict)

{1: [1], 2: [2, 2, 2], 3: {3: [3, 3, 3, 2]}}

In [41]:
A={}
A1 = A
A.update(A1)
print(A)

{}

In [42]:
A={'A':1,'C':2,'B':3}
sorted(A)

['A', 'B', 'C']

In [43]:
A={'A':1,'B':2,'C':3}
B=A
del B['A']
print(A)

{'B': 2, 'C': 3}

# Set

In [44]:
#Introduction to Sets
A =['a']
B =['b']
C= ['c']
output = [set(A),set(B),set(C)]
print(output)

[{'a'}, {'b'}, {'c'}]

In [45]:
sets=[1,2,3,3,4,5,2]
print(sets)

[1, 2, 3, 3, 4, 5, 2]

In [46]:
A = (3,4,5)
if A[1] == 8/2:
    print('True')
else:
    print('False')

True

# Loops

In [48]:
A = 'ABCDEFG'

for i in range(len(A)):
    print(A[i]*i)

B
CC
DDD
EEEE
FFFFF
GGGGGG

In [49]:
A = 'ABCDEFG'

for i in [0, 1, 2, 3, 4, 5, 6]:
    print(str(i)*2)

00
11
22
33
44
55
66

In [50]:
A = 'abcde'

for i in range(len(A)):
    if i%2==0:
        print(i)
    else:
        break

0

In [51]:
A = '0123'

for i in range(len(A)):
    if i%2==0:
        print(A[i])
    else:
        break

0

# Functions

In [52]:
def MyPet():
   print('I have 2 pets')
print('I love my pets')

I love my pets

In [53]:
def Name():
   A=Name
   print('Name')
Name()

Name

In [54]:
a= '01234'

def ABC(a):
    for i in range(len(a)):
        print('It is ',str(i))

b='ABCDE'
ABC(b)

It is  0
It is  1
It is  2
It is  3
It is  4

In [55]:
def ABC(a):
    a= 'ABCDE'
    for i in a:
        print('It is ',str(i))

b='01234'
ABC(b)

It is  A
It is  B
It is  C
It is  D
It is  E

In [56]:
#Define Function with Multiple Arguments 

def function(a,b,c):
    sum = 100
    sum = sum + a * b / c
    return sum

function(100,300,200)

250.0

In [57]:
#Define Function with Multiple Arguments 

def func1(a,b,c):
    a = a + 1
    b = b + 2
    c = c + 3
    return a+b+c

def func2(a,b,c):
    a = a * 1
    b = b * 2
    c = c * 3 
    return a,b,c

print(func2(func1(1,2,3),func1(10,20,30),func1(11,22,33)))

(12, 132, 216)

In [59]:
%%expect_exception TypeError

func=(lambda x, y: (x ** y))
func(func(2,2))

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[59], line 2
      1 func=(lambda x, y: (x ** y))
----> 2 func(func(2,2))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [60]:
def func(x):
    return lambda y: (x + y + 1)

def func1(x):
    return lambda y : (func(x)(x)+y+1)

print(func1(3)(1))

9

# Map & Filter

In [61]:
A= list(range(5))
B = map(lambda x: (x * x)+1, A)
print(list(B))

[1, 2, 5, 10, 17]

In [62]:
def calculateSquare(n):
  return n*n
numbers = (1, 2, 3, 4)
result = list(map(calculateSquare, numbers))
print(result)

[1, 4, 9, 16]

In [63]:
def filterdata(x):
  if x>5:
    return x

result = filter(filterdata,(1,2,6))
print(list(result))

[6]

# Quiz

In [64]:
print ("Hello World! My Name is Jupyter!")

Hello World! My Name is Jupyter!

In [66]:
100000**(1/5)

10.000000000000002

In [67]:
nums= [10,20,30,40,50,60,70,80,90,100]
type(nums)

list

In [68]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [70]:
set1 = {"a", "b" , "c"}
l2 = [1, 2, 3]

l2.extend(set1)
l2

[1, 2, 3, 'a', 'b', 'c']

In [71]:
set1.union(l2)

{1, 2, 3, 'a', 'b', 'c'}

In [72]:
ls = [1,2,3,4,5,6,7,8,9,10]
ls_new = []
for i in ls:
  if i%2 != 0:
    ls_new.append(i)
print(ls_new)

[1, 3, 5, 7, 9]

In [73]:
lambda_func = lambda x: x * 2
numbers = [1, 2, 3]
map_list = list(map(lambda_func, numbers))
print(map_list)

[2, 4, 6]