<center><p float="center">
  <img src="https://mma.prnewswire.com/media/1458111/Great_Learning_Logo.jpg?p=facebook" width="200" height="100"/>
</p></center>

# <div class="alert alert-warning"> <div style="text-align: center"> Python Practice</div>

# <div class="alert alert-info"> <font color=blue> String Operations <font color=blue> </div>

### 1). Given a string - 'Today is a sunny day'

#### a). Write a code to extract the words 'Today and â€˜sunny'

#### b). Obtain the last 2 letters - 'ay'

#### c). Write the statement backwards

In [1]:
#define the string 
s= "Today is a sunny day"

In [2]:
#Part a
l=s.split()

print(l[0],l[3])

Today sunny

In [3]:
#Part b
s[-2:]

'ay'

In [4]:
#Part c
s[::-1]

'yad ynnus a si yadoT'

### 2. Concatenate the variables, string = 'How old are you?'  and num = 34, using the '+' operator.

**Hint:** Convert the 'num' variable to a string data type in order to concatenate it with the 'string' variable.

In [5]:
string='How old are you?'

num=34

string + str(num)

'How old are you?34'

# <div class="alert alert-info"> <font color=blue>  User Input <font color=blue> </div>

### 1. Write a program to print the integer and string given, take the input from the user.

#### <mark> Integer = 22</mark>

#### <mark> String = 'Great Learning'</mark>

In [6]:
integer=int(input())

22

In [7]:
string=input()

Great Learning

### 2. Write a program that takes age, name and gender of the user as input

In [8]:
age=int(input('Enter age '))
name=input('Enter name ')
gender=input('Enter gender ')

Enter age 22
Enter name John
Enter gender Male

# <div class="alert alert-info"> <font color=blue> Indexing - Practice <font color=blue> </div>

Write a code to retrieve elements from a list:

a. Second last element

b. First three elements

**Use the below list**

<mark> list1 = ['Python', 1, 2, 3, 'Data', True] </mark>

**a. Second last element**

In [9]:
#defining the list
list1 = ['Python', 1, 2, 3, 'Data', True] 

# question a
list1[-2]

'Data'

**b. First element of list**

In [10]:
#question b
list1[0]

'Python'

# <div class="alert alert-info"> <font color=blue> List methods <font color=blue> </div>

Write a program to perform following built-in list operations:

a. Max(list)

b. Sort the elements (Hint: Use sorted() function - sorted(list))

c. Create a copy of a list

d. Remove element '5' from the list

**Use the below list**

<mark> list1 = [4, 5, 7, -2, 0, 1]</mark>

In [11]:
#defining the list
list1 = [4, 5, 7, -2, 0, 1]

**a. Max(list)**

In [12]:
#question a
max(list1)

7

**b. Sort the elements**

In [13]:
#question b
list1.sort()
list1

[-2, 0, 1, 4, 5, 7]

**c. Create a copy of a list**

In [14]:
#question c
list2=list1.copy()
list2

[-2, 0, 1, 4, 5, 7]

**d. Remove element '5' from the list**

In [15]:
#question d
list1.remove(5)
list1

[-2, 0, 1, 4, 7]

### <div class="alert alert-info">  Manipulating a list:</div>

a. Add elements 'Excel' and 'Data' in the given list

b. Replace an element 'C' with 'C++' in the given list

use the list below:

<mark>list1 = ['R', 'Python', 'C', 'Java'] </mark>

**a. Add elements 'Excel' and 'Data' in the given list**

In [16]:
list1 = ['R', 'Python', 'C', 'Java']

#question a
list1.append('Excel')
list1.append('Data')
list1

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**b. Replace an element 'C' with 'C++' in the given list**

In [17]:
#question b
list1[2]='C++'
list1

['R', 'Python', 'C++', 'Java', 'Excel', 'Data']

# <div class="alert alert-info"> <font color=blue>Tuple Methods <font color=blue> </div>

## Tuple manipulations:

  - Q1. Counts the number of occurrences
  - Q2. Replace an element

**Counts the number of occurrences of item 2 from the below tuple:**

<mark > **tuple1 = (['a', 1, True], 2, 'Science', -5)** </mark>

**a. Add new element '4' to the given tuple**

In [18]:
#defining tuple
tuple1 = (['a', 1, True], 2, 'Science', -5)

#question 1
tuple1.count(2)

1

**a. Add new element '4' to the given tuple**

**Ans:** You cannot add an element in a tuple. They are immutable

**b. Replace an element**

**Replace '2' with '3' in tuple1 = (['a', 1, True], 2, 'Science', -5)**

**Ans:** You cannot replace an element in a tuple. They are immutable

# <div class="alert alert-info"> <font color=blue> Acessing items <font color=blue> </div>

Q1. Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

<mark> dictionary2 = {0:3, 'x':5, 1:2}</mark>

In [19]:
#defining dictionary
dictionary2 = {0:3, 'x':5, 1:2}

In [20]:
#question 1
print(dictionary2.keys())
print(dictionary2.values())

dict_keys([0, 'x', 1])
dict_values([3, 5, 2])

 Q2. Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

<mark> dictionary3 = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'} </mark>

In [21]:
dictionary3 = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

#question 2
dictionary3['Age']

27

# <div class="alert alert-info"> <font color=blue> Dictionary Methods <font color=blue> </div>

Q1. Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

<mark> dictionary1 = {1:1, 2:4, 3:9} </mark>

In [22]:
dictionary1 = {1:1, 2:4, 3:9}

In [23]:
#question 1
dictionary1[4]=16
dictionary1

{1: 1, 2: 4, 3: 9, 4: 16}

Q2. Replace the value of one key in the dictionary

**Use the given dictionary and replace the value of 'A' **

<mark> dictionary2 = {'A':'Apple', 'O':'Orange', 'G':'Grapes'} </mark>

In [24]:
dictionary2 = {'A':'Apple', 'O':'Orange', 'G':'Grapes'}

In [25]:
#question 2
dictionary2['A']='Ape'
dictionary2

{'A': 'Ape', 'O': 'Orange', 'G': 'Grapes'}

# <div class="alert alert-info"> <font color=blue> Conditional Statement <font color=blue> </div>

- Q1. Write a program to check whether a given number is multiple of 7 (use if statement)

- Given number = 28

In [26]:
number=28

#question 1

if number%7 ==0:
    print('multiple of 7')
else:
    print('Not a multiple of 7')

multiple of 7

The print statement is executed only if the 'if' condition is true. Else, the print statement is not executed and there will be no output.

- Q2. Write a code to print the maximum of two numbers (use if-else)

<mark> x = 55 </mark>

<mark> y = 7 </mark>

In [27]:
x=55
y=7

#question 2

if(x>y):
    print('Maximum is x')
elif(x<y):
    print('Maximum is y')
else:
    print('equal')

Maximum is x

3. Write a program to check whether a number is positive, negative or zero (use if-elif)

<mark> number = 45 </mark>

In [28]:
number =45

#question 3

if number>0:
    print('positive')
elif number<0:
    print('negative')
else:
    print(0)

positive

# <div class="alert alert-info"> <font color=blue> Loops <font color=blue> </div>

## For loop

- Q1. Write a code to print the letters in the string as upper case letters (use for loop)

<mark> string = "python" </mark>

In [29]:
string = "python"

#question 1

for i in string:
    print(i.upper())

P
Y
T
H
O
N

## While loop

- Q2. Write a program to print the numbers less than 100 that are divisible by 4 (use while loop)

In [30]:
#question 2

i=0
while(i<100):
    if(i%4==0):
        print(i)
    i=i+1

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

# <div class="alert alert-info"> <font color=blue> Break and continue Statement 
<font color=blue> </div>

# Break

- Q1. Use break statement in while loop to print the integers from 1 to 7

In [31]:
#question 1
i=1
while(True):
    if(i>7):
        break
    print(i)
    i=i+1

1
2
3
4
5
6
7

# Continue

- Q2. Print all the letters of the string 'GreatLearning' except 't' using a loop

In [32]:
string= 'GreatLearning'

#question 2

for i in string:
    if(i=='t'):
        continue
    print(i)

G
r
e
a
L
e
a
r
n
i
n
g

# <div class="alert alert-info"> <font color=blue> Defining Functions without Arguments
<font color=blue> </div>

- Q1. Define the python function which adds two global numeric variables (1204 and 344536) Without Argument.

In [33]:
var1=1204
var2=344536

#question 1

def f():
    return var1+var2

In [34]:
f()

345740

# <div class="alert alert-info"> <font color=blue> Defining Functions with Arguments
<font color=blue> </div>

- Q1. Define the python function to check whether the <mark> number 33 is even or odd </mark>

In [35]:
#question 1

def even_odd(num):
    if(num%2==0):
        return 'even'
    else:
        return 'odd'

In [36]:
even_odd(33)

'odd'

- Q2. Define the python function to calculate the factorial of the number

In [37]:
#question 2

def factorial(num):
    if(num==1):
        return 1
    return factorial(num-1)*num

In [38]:
factorial(5)

120

- Q3. Write the python program to get the unique values from the given list

**Use the list given below:**<br>
<mark> my_list = [1,2,3,3,11,34,3,3,4,5] </mark>

In [39]:
#question 3

def unique(my_list):
    l=[]
    for i in my_list:
        if(i not in l):
            l.append(i)
    return l

In [40]:
my_list = [1,2,3,3,11,34,3,3,4,5]
unique(my_list)

[1, 2, 3, 11, 34, 4, 5]

# <div class="alert alert-info"> <font color=blue>  Lambda functions 
<font color=blue> </div>

- Q1. Find the minimum of the two numbers(34 and 78) using the lambda function

In [41]:
#question 1
min=lambda x,y: x if x<y else y

In [42]:
min(34,78)

34

# <div class="alert alert-info"> <font color=blue>  Overview of Map and filter function 
<font color=blue> </div>

### Map Function

- Q1. Calculate the square of each element from the given tuple using the map function

**Use the tuple given below:**<br>
<mark> number = (11, 21, 30, 34)</mark>

In [43]:
number = (11, 21, 30, 34)

#question 1

def square(x):
        return x*x
    
list(map(square,number))

[121, 441, 900, 1156]

- Q2. Read the given sentence and print the length of each word in a sentence in a list using the map function

**Use the sentence given below :**

**sentence = 'Python for Data Science'**

In [44]:
sentence = 'Python for Data Science'

#question 2

list(map(len, sentence.split()))

[6, 3, 4, 7]

- Q3. Find the remainder of all the numbers present in a list after dividing by 5

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [45]:
numbers = [ 74, 85, 14, 23 ]

#question 3

list(map(lambda x:x%5, numbers))

[4, 0, 4, 3]

- Q4. Concatenate elements from the list1 with the corresponding element of list2

**Use the list given below:**

<mark>list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy'] </mark>

<mark> list2 = [11,22,33,44,55,66,77,88,99] </mark>

In [46]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

# question 4

list2=list(map(str,list2))

list(map(lambda x, y : x + y, list1,list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### Filter Function

- Q5. Find the common elements from the given array using filter method

**Use the array given below:**<br>
<mark> arr1 = ['t','u','t','o','r','i','a','l']<br> </mark>
<mark>arr2 = ['p','o','i','n','t']</mark>

In [47]:
arr1 = ['t','u','t','o','r','i','a','l']

arr2 = ['p','o','i','n','t']

#question 5

list(filter(lambda x: x in arr1, arr2))

['o', 'i', 't']

- Q6. Remove odd numbers from the given list

**Use the list given below:**<br>
<mark> numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7] </mark>

In [48]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

#question 6

list(filter(lambda x: x%2==0,numbers))

[110, 352, 278]